In [1]:
import pandas as pd
import numpy as np
url = 'https://github.com/mattharrison/datasets/raw/master/data/vehicles.csv.zip'
df=pd.read_csv(url)
city_mpg = df.city08
highway_mpg = df.highway08
make = df.make

/tmp/ipykernel_15353/1830224744.py:4: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(url)

# Date and Time Manipulation

In [2]:
col = pd . Series ([ '2015-03-08 08:00:00+00:00' ,
'2015-03-08 08:30:00+00:00' ,
'2015-03-08 09:00:00+00:00' ,
'2015-03-08 09:30:00+00:00' ,
'2015-11-01 06:30:00+00:00' ,
'2015-11-01 07:00:00+00:00' ,
'2015-11-01 07:30:00+00:00' ,
'2015-11-01 08:00:00+00:00' ,
'2015-11-01 08:30:00+00:00' ,
'2015-11-01 08:00:00+00:00' ,
'2015-11-01 08:30:00+00:00' ,
'2015-11-01 09:00:00+00:00' ,
'2015-11-01 09:30:00+00:00' ,
'2015-11-01 10:00:00+00:00'])

In [4]:
utc_s = pd.to_datetime(col, utc=True)
utc_s

0    2015-03-08 08:00:00+00:00
1    2015-03-08 08:30:00+00:00
2    2015-03-08 09:00:00+00:00
3    2015-03-08 09:30:00+00:00
4    2015-11-01 06:30:00+00:00
5    2015-11-01 07:00:00+00:00
6    2015-11-01 07:30:00+00:00
7    2015-11-01 08:00:00+00:00
8    2015-11-01 08:30:00+00:00
9    2015-11-01 08:00:00+00:00
10   2015-11-01 08:30:00+00:00
11   2015-11-01 09:00:00+00:00
12   2015-11-01 09:30:00+00:00
13   2015-11-01 10:00:00+00:00
dtype: datetime64[ns, UTC]

In [5]:
utc_s.dt.tz_convert('America/Denver')

0    2015-03-08 01:00:00-07:00
1    2015-03-08 01:30:00-07:00
2    2015-03-08 03:00:00-06:00
3    2015-03-08 03:30:00-06:00
4    2015-11-01 00:30:00-06:00
5    2015-11-01 01:00:00-06:00
6    2015-11-01 01:30:00-06:00
7    2015-11-01 01:00:00-07:00
8    2015-11-01 01:30:00-07:00
9    2015-11-01 01:00:00-07:00
10   2015-11-01 01:30:00-07:00
11   2015-11-01 02:00:00-07:00
12   2015-11-01 02:30:00-07:00
13   2015-11-01 03:00:00-07:00
dtype: datetime64[ns, America/Denver]

In [12]:
s = pd.Series(['2015-03-08 01:00:00-07:00',
               '2015-03-08 03:00:00-06:00'])

In [13]:
pd.to_datetime(s, utc=True).dt.tz_convert('America/Denver')

0   2015-03-08 01:00:00-07:00
1   2015-03-08 03:00:00-06:00
dtype: datetime64[ns, America/Denver]

### 12.3 Loading Local Time Data
- need date, offset and the timzone:

In [21]:
time = pd.Series(['2015-03-08 01:00:00',
                  '2015-03-08 01:30:00',
                  '2015-03-08 02:00:00',
                  '2015-03-08 02:30:00',
                  '2015-03-08 03:00:00',
                  '2015-03-08 02:00:00',
                  '2015-03-08 02:30:00',
                  '2015-03-08 03:00:00',
                  '2015-03-08 03:30:00',
                  '2015-11-01 00:30:00',
                  '2015-11-01 01:00:00',
                  '2015-11-01 01:30:00',
                  '2015-11-01 02:00:00',
                  '2015-11-01 02:30:00',
                  '2015-11-01 01:00:00',
                  '2015-11-01 01:30:00',
                  '2015-11-01 02:00:00',
                  '2015-11-01 02:30:00',
                  '2015-11-01 03:00:00',
                  '2015-11-01 03:30:00'])

In [22]:
offset = pd.Series([-7, -7, -7, -7, -7, -6, -6, -6, -6, -6, -6, -6, -6, -6, 
                    -7, -7, -7, -7, -7, -7])

We want to apply the offset to the corresponding time. The mechanism in pandas is to use `.groupby` with `.transform` to do this.

The basic idea is that we group all dates from one offset together and call `.dt.tz_localize` on them. We repeat this for each offset. Calling the `.transform` method allows us to work on a group and then return a result in the original length of the grouped object:

In [23]:
(pd.to_datetime(time)
    .groupby(offset)
    .transform(lambda s: s.dt.tz_localize(s.name)
                          .dt.tz_convert('America/Denver'))
                       )

0    2015-03-07 18:00:07-07:00
1    2015-03-07 18:30:07-07:00
2    2015-03-07 19:00:07-07:00
3    2015-03-07 19:30:07-07:00
4    2015-03-07 20:00:07-07:00
5    2015-03-07 19:00:06-07:00
6    2015-03-07 19:30:06-07:00
7    2015-03-07 20:00:06-07:00
8    2015-03-07 20:30:06-07:00
9    2015-10-31 18:30:06-06:00
10   2015-10-31 19:00:06-06:00
11   2015-10-31 19:30:06-06:00
12   2015-10-31 20:00:06-06:00
13   2015-10-31 20:30:06-06:00
14   2015-10-31 19:00:07-06:00
15   2015-10-31 19:30:07-06:00
16   2015-10-31 20:00:07-06:00
17   2015-10-31 20:30:07-06:00
18   2015-10-31 21:00:07-06:00
19   2015-10-31 21:30:07-06:00
dtype: datetime64[ns, America/Denver]

Note that this operation did not error out and appeared to run successfully. However, it you look closely, the offsets were incorrect and moved the minute by 7 or 6 minutes instead of the hours.

We need to use different offsets, we want them to be `'-07:00'` and `'-06:00'` respectively:

In [24]:
offset = offset.replace({-7:'-07:00', -6:'-06:00'})
local =  (pd.to_datetime(time)
    .groupby(offset)
    .transform(lambda s: s.dt.tz_localize(s.name)
                          .dt.tz_convert('America/Denver'))
                       )

In [25]:
local

0    2015-03-08 01:00:00-07:00
1    2015-03-08 01:30:00-07:00
2    2015-03-08 03:00:00-06:00
3    2015-03-08 03:30:00-06:00
4    2015-03-08 04:00:00-06:00
5    2015-03-08 01:00:00-07:00
6    2015-03-08 01:30:00-07:00
7    2015-03-08 03:00:00-06:00
8    2015-03-08 03:30:00-06:00
9    2015-11-01 00:30:00-06:00
10   2015-11-01 01:00:00-06:00
11   2015-11-01 01:30:00-06:00
12   2015-11-01 01:00:00-07:00
13   2015-11-01 01:30:00-07:00
14   2015-11-01 01:00:00-07:00
15   2015-11-01 01:30:00-07:00
16   2015-11-01 02:00:00-07:00
17   2015-11-01 02:30:00-07:00
18   2015-11-01 03:00:00-07:00
19   2015-11-01 03:30:00-07:00
dtype: datetime64[ns, America/Denver]

### 12.4 Converting Local time to UTC
- if you have a series with local time info (stored as `datetime64[ns]` and not a string), you can use `.dt.tz_convert` method to change it to UTC time:

In [26]:
local.dt.tz_convert('UTC') #wtf is this book doing, how is this correct

0    2015-03-08 08:00:00+00:00
1    2015-03-08 08:30:00+00:00
2    2015-03-08 09:00:00+00:00
3    2015-03-08 09:30:00+00:00
4    2015-03-08 10:00:00+00:00
5    2015-03-08 08:00:00+00:00
6    2015-03-08 08:30:00+00:00
7    2015-03-08 09:00:00+00:00
8    2015-03-08 09:30:00+00:00
9    2015-11-01 06:30:00+00:00
10   2015-11-01 07:00:00+00:00
11   2015-11-01 07:30:00+00:00
12   2015-11-01 08:00:00+00:00
13   2015-11-01 08:30:00+00:00
14   2015-11-01 08:00:00+00:00
15   2015-11-01 08:30:00+00:00
16   2015-11-01 09:00:00+00:00
17   2015-11-01 09:30:00+00:00
18   2015-11-01 10:00:00+00:00
19   2015-11-01 10:30:00+00:00
dtype: datetime64[ns, UTC]

### 12.5 Converting to Epochs
From UTC or local time to seconds past UNIX epoch:

In [29]:
secs = local.view(int).floordiv(1e9).astype(int)
secs

0     1425801600
1     1425803400
2     1425805200
3     1425807000
4     1425808800
5     1425801600
6     1425803400
7     1425805200
8     1425807000
9     1446359400
10    1446361200
11    1446363000
12    1446364800
13    1446366600
14    1446364800
15    1446366600
16    1446368400
17    1446370200
18    1446372000
19    1446373800
dtype: int64

In [30]:
#to load epoch info into UTC:
(pd.to_datetime(secs, unit='s')
 .dt.tz_localize('UTC'))

0    2015-03-08 08:00:00+00:00
1    2015-03-08 08:30:00+00:00
2    2015-03-08 09:00:00+00:00
3    2015-03-08 09:30:00+00:00
4    2015-03-08 10:00:00+00:00
5    2015-03-08 08:00:00+00:00
6    2015-03-08 08:30:00+00:00
7    2015-03-08 09:00:00+00:00
8    2015-03-08 09:30:00+00:00
9    2015-11-01 06:30:00+00:00
10   2015-11-01 07:00:00+00:00
11   2015-11-01 07:30:00+00:00
12   2015-11-01 08:00:00+00:00
13   2015-11-01 08:30:00+00:00
14   2015-11-01 08:00:00+00:00
15   2015-11-01 08:30:00+00:00
16   2015-11-01 09:00:00+00:00
17   2015-11-01 09:30:00+00:00
18   2015-11-01 10:00:00+00:00
19   2015-11-01 10:30:00+00:00
dtype: datetime64[ns, UTC]

### Manipulating Dates

In [34]:
url = 'https://github.com/mattharrison/datasets/raw/master/data/alta-noaa-1980-2019.csv'
alta_df = pd.read_csv(url)

 - when you read CSV, does not convert columns to dates by default.
 - can use `parse_dates` to try and convert dates when reading CSV, but `to_datetime` is more powerful

In [35]:
dates = pd.to_datetime(alta_df.DATE)
dates

0       1980-01-01
1       1980-01-02
2       1980-01-03
3       1980-01-04
4       1980-01-05
           ...
14155   2019-09-03
14156   2019-09-04
14157   2019-09-05
14158   2019-09-06
14159   2019-09-07
Name: DATE, Length: 14160, dtype: datetime64[ns]

When we have type of date as `datetime64[ns]`, we can do a lotta stuff
- adds `.dt` attribute to the series, that allows various date manipulations

To get weekdays in Spanish, specify appropriate locale:

In [38]:
dates.dt.day_name('es_ES') #don't have es ES locale instaleld xd

Error: unsupported locale setting

In [40]:
dates.dt.is_month_start

0         True
1        False
2        False
3        False
4        False
         ...
14155    False
14156    False
14157    False
14158    False
14159    False
Name: DATE, Length: 14160, dtype: bool

In [41]:
dates.dt.strftime('%d/%m/%y')

0        01/01/80
1        02/01/80
2        03/01/80
3        04/01/80
4        05/01/80
           ...
14155    03/09/19
14156    04/09/19
14157    05/09/19
14158    06/09/19
14159    07/09/19
Name: DATE, Length: 14160, dtype: object